#cities {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    margin: 0 0 10px 0;
    list-style-type: none;
}

.city_details {
    position: relative;
    padding: 10px;
    margin: 5px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 200px;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background: #f6f6f6;
    border-bottom: 3px solid #bdbab9;
    border-right: 1px solid #bdbab9;
    border-left: 1px solid #bdbab9;
    border-top: 1px solid #bdbab9;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1) inset;
}

.city_details:hover {
    cursor: pointer;
    background: #ffffff;
}

.city-filter {
    text-align: center;
}

.city-filter>input {
    width: 280px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
}

span {
    display: block;
    color: #1f384d;
    display: block;
    font-size: 0.9em;
    line-height: 1.4em;
    font-variant: small-caps;
    text-transform: none;
}

span.current_location {
    color: #00afbe;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 10px;
}

span.current_temp {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

span.current_weather_image {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 40px;
    right: 10px;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

span.current_weather_image.Snow {
    background-image: url(../images/svg/snow-icon.svg);
}

span.current_weather_image.Thunderstorm {
    background-image: url(../images/svg/thunderstorm-icon.svg);
}

span.current_weather_image.Rain {
    background-image: url(../images/svg/rain-icon.svg);
}

span.current_weather_image.Clear {
    background-image: url(../images/svg/clear-icon.svg);
}

span.current_weather_image.Clouds {
    background-image: url(../images/svg/clouds-icon.svg);
}

span.current_weather_image.Drizzle {
    background-image: url(../images/svg/drizzle-icon.svg);
}

span.current_weather_image.Atmosphere {
    background-image: url(../images/svg/atmosphere-icon.svg);
}

span.current_weather_image.Extreme {
    background-image: url(../images/svg/extreme-icon.svg);
}

span.current_weather_image.Additional {
    background-image: url(../images/svg/additional-icon.svg);
}

span.favorite_icon {
    background-image: url(../images/svg/favorite-icon.svg);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    position: absolute;
    right: 8px;
    bottom: 8px;
    -webkit-filter: grayscale(100%) brightness(5) brightness(.9);
    filter: grayscale(100%) brightness(5) brightness(0.7);
}

.city_details.favorite {
    background: #ffffff;
    border-bottom: 3px solid #f05514;
}

.city_details.favorite span.current_location {
    color: #f05514;
}

.city_details.favorite span.favorite_icon {
    -webkit-filter: none;
    filter: none;
}
