<div class="city-filter"><input type="text" [(ngModel)]="cityName" placeholder="Search for the location you're interested in..."></div>
<ul id="cities">
    <li class="city_wrapper" *ngFor="let o of forecast | searchCity:cityName">
        <div [ngClass]="{'favorite': o.isInFavorites }" class="city_details">
            <span class='favorite_icon' title="{{ o.isInFavorites == true ? 'Remove from favorites' : 'Click to favor' }}" (click)="o.isInFavorites = !o.isInFavorites;"></span>
            <span class='remove_icon' title="Remove from selection" (click)="removeItem(o)"></span>
            <span class='current_location'>{{o.name | uppercase}}</span>
            <span class='current_temp' [ngClass]="{ 'minus': o.temp < 0, 'plus': o.temp > 0 }">
          {{o.temp | number : '1.0-1'}}&deg;C
          <span class="current_temp_fahrenheit">/ {{o.temp | tempToFahrenheit:celsius | number : '1.0-1'}}&deg;F</span>
            </span>
            <span class='current_clouds'>Clouds: {{o.clouds}}%</span>
            <span class='current_humidity'>Humidity: {{o.humidity}}%</span>
            <span class='current_current_wind'>Wind: {{o.wind}} m/s {{o.winddir | windDescribe:wind}}</span>
            <span class='current_pressure'>Pressure: {{o.pressure}} hPa</span>
            <span class='current_weather_image {{o.weather}}'></span>
            <span class='current_weather'>{{o.description}}</span>
        </div>
    </li>
</ul>
