<a href="#popup1" class="settings-display-link">{{settings.setName}} list is displayed * click to change settings *</a>
<div id="popup1" class="overlay">
    <div class="settings-container">
        <a class="close" href="#"><span class="remove_icon"></span></a>

        <h1>Customize your settings</h1>

        <form #settingsForm="ngForm" (ngSubmit)="onSubmit(settingsForm)">
            <div class="form-group">
                <label class="label-header" for="setName">*Settings name:</label>
                <input type="text" name="setName" #setName="ngModel" [(ngModel)]="settings.setName" value="{{settings.setName}}" class="form-control" minlength="2" required>

                <div *ngIf="setName.errors && (setName.dirty || setName.touched)" class="error">
                    <div [hidden]="!setName.errors['required']">
                        Name is required
                    </div>
                    <div [hidden]="!setName.errors['minlength']">
                        Name must be at least 2 characters long
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="label-header" for="setEmail">*Enter e-mail to subscribe:</label>
                <input type="email" name="setEmail" #setEmail="ngModel" [(ngModel)]="settings.setEmail" class="form-control" validateEmail>
                <span [hidden]="setEmail.valid || setEmail.pristine" class="error">E-mail is not valid</span>
            </div>

            <div class="form-group">
                <label class="label-header" for="setTemps">Display temp:</label>
                <div *ngFor="let setTemp of setTemps" class="display-radio-option">
                    <label class="label-option">
                    <input type="radio"
                           name="setTemps"
                           [disabled]="setName.invalid"
                           [(ngModel)]="settings.setTemp"
                           (ngModelChange)="changeTemp($event)"
                           value="{{setTemp.value}}"/>
                    {{setTemp.display}}
                </label>
                </div>
            </div>

            <div class="form-group">
                <label class="label-header" for="setOpts">Extra temp parameters:</label>
                <div>
                    <label class="label-option">
                      <input type="checkbox"
                             name="setMaxTemp"
                             [disabled]="setName.invalid"
                             [(ngModel)]="settings.setMaxTemp"
                             (ngModelChange)="toggleMaxTemp($event)" />
                      {{setOpts[0]}}
                </label>
                </div>
                <div>
                    <label class="label-option">
                  <input type="checkbox"
                         name="setMinTemp"
                         [disabled]="setName.invalid"
                         [(ngModel)]="settings.setMinTemp"
                         (ngModelChange)="toggleMinTemp($event)" />
                  {{setOpts[1]}}
               </label>
                </div>
            </div>
            <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-default"><a href="#">Ok, that's fine</a></button>
        </form>
    </div>
</div>
