#cities {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    margin: 0 0 10px 0;
    list-style-type: none;
}

.city_wrapper {
    margin: 5px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 200px;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.city_details {
    position: relative;
    padding: 10px;
    background: #f6f6f6;
    border-bottom: 3px solid #bdbab9;
    border-right: 1px solid #bdbab9;
    border-left: 1px solid #bdbab9;
    border-top: 1px solid #bdbab9;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1) inset;
}

#cities.dark .city_details {
    background: #222;
}

.city_details:hover {
    background: #ffffff;
}

#cities.dark .city_details:hover {
    background: #444;
}

.city-filter {
    text-align: center;
}

.city-filter>input {
    width: 280px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
}

span {
    display: block;
    display: block;
    font-size: 0.9em;
    line-height: 1.4em;
    font-variant: small-caps;
    text-transform: none;
    color: #1f384d;
}

#cities.dark span {
    color: white;
}

#cities.dark span.current_temp>span {
    color: #1f384d;
}

span.current_location {
    color: #00afbe;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 130px;
}

#cities.dark span.current_location {
    color: #f4e6c3;
}

span.current_temp {
    color: #1f384d;
    font-size: 1.4em;
    display: inline-block;
    border-radius: 3px;
    padding: 0px 3px;
    background: rgba(0, 0, 0, 0.07);
}

.current_temp_bg {
    background: white;
    margin-bottom: 0.5em;
    border-radius: 3px;
    display: inline-block;
}

span.current_wind_direction {
    display: inline-block;
    padding: 0px 3px;
}

span.current_weather_icons_color {
    color: #007f8d;
}

#cities.dark span.current_weather_icons_color {
    color: #f4e6c3;
}

span.favorite_icon {
    cursor: pointer;
    background-image: url('images/favorite-icon.svg');
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    position: absolute;
    right: 8px;
    bottom: 8px;
    -webkit-filter: grayscale(100%) brightness(5) brightness(.9);
    filter: grayscale(100%) brightness(5) brightness(0.7);
}

span.remove_icon {
    cursor: pointer;
    background-image: url('images/remove-icon.svg');
    width: 14px;
    height: 14px;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    position: absolute;
    right: 8px;
    top: 8px;
    opacity: 0.3;
}

#cities.dark span.remove_icon {
    filter: invert(100%);
}

span.remove_icon:hover {
    opacity: 1;
}

.city_details.favorite {
    background: #ffffff;
    border-bottom: 3px solid #f05514;
}

.city_details.favorite span.current_location {
    color: #f05514;
}

.city_details.favorite span.favorite_icon {
    -webkit-filter: none;
    filter: none;
}
