@font-face {
    font-family: 'weathericons';
    src: url('fonts/weathericons-regular-webfont.eot');
    src: url('fonts/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/weathericons-regular-webfont.woff2') format('woff2'), url('fonts/weathericons-regular-webfont.woff') format('woff'), url('fonts/weathericons-regular-webfont.ttf') format('truetype'), url('fonts/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

span.current_weather_image {
    font-family: 'weathericons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
}

.wi-day-sunny:before, .wi-day-clear:before {
    content: "\f00d";
}

.wi-night-clear:before {
    content: "\f02e";
}

.wi-day-cloudy:before {
    content: "\f002";
}

.wi-night-cloudy:before {
    content: "\f086";
}

.wi-day-cloudy.gusts:before {
    content: "\f000";
}

.wi-night-cloudy.gusts:before {
    content: "\f022";
}

.wi-day-cloudy.windy:before {
    content: "\f001";
}

.wi-night-cloudy.windy:before {
    content: "\f023";
}

.wi-day-fog:before, .wi-day-mist:before, .wi-day-atmosphere:before {
    content: "\f003";
}

.wi-night-fog:before, .wi-night-mist:before, .wi-night-atmosphere:before, .wi-night-haze:before {
    content: "\f04a";
}

.wi-day-hail:before {
    content: "\f004";
}

.wi-night-hail:before {
    content: "\f024";
}

.wi-day-haze:before {
    content: "\f0b6";
}

.wi-day-lightning:before {
    content: "\f005";
}

.wi-night-lightning:before {
    content: "\f033";
}

.wi-day-rain:before {
    content: "\f008";
}

.wi-night-rain:before {
    content: "\f028";
}

.wi-day-rain.mix:before, .wi-day-drizzle:before {
    content: "\f006";
}

.wi-night-rain.mix:before, .wi-night-drizzle:before {
    content: "\f026";
}

.wi-day-rain.wind:before {
    content: "\f007";
}

.wi-night-rain.wind:before {
    content: "\f027";
}

.wi-day-showers:before {
    content: "\f009";
}

.wi-night-showers:before {
    content: "\f029";
}

.wi-day-sleet:before {
    content: "\f0b2";
}

.wi-night-sleet:before {
    content: "\f0b4";
}

.wi-day-sleet.storm:before {
    content: "\f068";
}

.wi-night-sleet.storm:before {
    content: "\f06a";
}

.wi-day-snow:before {
    content: "\f00a";
}

.wi-night-snow:before {
    content: "\f02a";
}

.wi-day-snow.thunderstorm:before {
    content: "\f06b";
}

.wi-night-snow.thunderstorm:before {
    content: "\f06d";
}

.wi-day-snow.wind:before {
    content: "\f065";
}

.wi-night-snow.wind:before {
    content: "\f067";
}

.wi-day-sprinkle:before {
    content: "\f00b";
}

.wi-night-sprinkle:before {
    content: "\f02b";
}

.wi-day-storm.showers:before {
    content: "\f00e";
}

.wi-night-storm.showers:before {
    content: "\f02c";
}

.wi-day-sunny.overcast:before {
    content: "\f00c";
}

.wi-day-thunderstorm:before {
    content: "\f010";
}

.wi-night-thunderstorm:before {
    content: "\f02d";
}

.wi-day-windy:before {
    content: "\f085";
}

.wi-day-cloudy.high:before, .wi-day-clouds:before {
    content: "\f07d";
}

.wi-night-cloudy.high:before, .wi-night-clouds:before {
    content: "\f080";
}

.wi-day-light.wind:before {
    content: "\f0c4";
}

.wi-night-light.wind:before {
    content: "\f012";
}

.wi-day-hot:before {
    content: "\f072";
}

.wi-day-gale:before, .wi-night-gale:before {
    content: "\f0cd";
}

.wi-day-smog:before, .wi-night-smog:before {
    content: "\f074";
}

.wi-day-smoke:before, .wi-night-smoke:before {
    content: "\f062";
}

.wi-day-additional:before {
    content: "\f051";
}

.wi-night-additional:before {
    content: "\f0c9";
}
